@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.img1 {
    background-image: url(./images/backiee-124549-landscape.jpg);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.text { 
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;   
}
.textin {
    color: black;
    font-size: 20px;
    background-color: rgba(107, 106, 106,0.4);
    padding: 20px 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.para1 {
    text-align: center;
    padding: 40px 40px;
    background-color: rgb(176, 172, 144);
}
.img2 {
    background-image: url(./images/image\ 2.jpg);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.para2 {
    text-align: center;
    padding: 20px 30px;
    background-color: rgb(176, 172, 144);
}
.img3 {
    background-image: url(./images/image\ 3.jpg);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.para3 {
    text-align: center;
    padding: 20px 30px;
    background-color: rgb(176, 172, 144);
}
p {
    line-height: 30px;
}